/* Set the input to have a transparent background */
.react-tel-input input.form-control {
    width: 100% !important;
    background-color: transparent !important; /* Default transparent background */
    border-width: 1px;
    border-color: #d1d5db; /* border-gray-300 */
}

/* Hover and Focus States */
.react-tel-input input.form-control:hover {
    border-color: #d4d7dd; /* hover:border-gray-400 */
}

.react-tel-input input.form-control:focus {
    border-color: #1d4ed8; /* focus:border-primary-600 */
}

/* For Dark Mode */
@media (prefers-color-scheme: dark) {
    .react-tel-input input.form-control {
        background-color: rgba(255, 255, 255, 0.1) !important; /* Light color for dark mode */
        border-color: rgb(56, 58, 65) /* dark:border-dark-450 */
    }

    .react-tel-input input.form-control:hover {
        border-color: #4a5568; /* dark:hover:border-dark-400 */
    }

    .react-tel-input input.form-control:focus {
        border-color: #2563eb; /* dark:focus:border-primary-500 */
    }

    .react-tel-input div.flag-dropdown {
        background-color: transparent !important;
    }
}

/* For Light Mode */
@media (prefers-color-scheme: light) {
    .react-tel-input input.form-control {
        background-color: transparent !important; /* Transparent background for light mode */
        border-color: #d1d5db; /* border-gray-300 */
    }

    .react-tel-input input.form-control:hover {
        border-color: #d4d7dd; /* hover:border-gray-400 */
    }

    .react-tel-input input.form-control:focus {
        border-color: #1d4ed8; /* focus:border-primary-600 */
    }
}

